body{
  margin: 0px;
}

.login-form{     
  font-family: "Cascadia Code";  
  font-weight: 400;
  font-size: 20px;
  display: flex;
  columns: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: end;
}
.login_input{
  font-size: 15px;
  padding: 5px 5px;
  border-width: 1.5px;
  border-color: rgb(54, 54, 54);
  border-radius: 5px;
  border-style:double;
}
.login_button{
  font-size: larger;
}
.button{
  text-decoration: none;
  font-family: "Cascadia Code";
  font-weight: 400;
  font-size: 20px;
  padding: 5px 16px; /* Custom padding */
  background-color: #797979; /* Button background color */
  color: white; /* Text color */
  border: none; /* Removing the default border */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer;
  margin: 10px 2px;
}